.page-title {
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 3em;
    font-family: 'Futura', 'Arial', 'Open Sans', sans-serif;
    background-color: #d5321a;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}

img {
    width: 100%;
    border: #d5321a solid 5px;
    box-sizing: border-box;
}

.text-box {
    font-family: 'Arial', 'san-serif';
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
